# remove the .example suffix after filling out the values.
url: "http://xyz.ngrok.io"
realm: "Bank"
client_id: "vault"
client_secret: "8433ae8d-040c-4322-8de3-2ca176856900"

admin_realm: "master"
admin_username: "admin"
admin_password: "admin"