# TODO: fill this in and rename to vault.env

# vault values
export VAULT_ADDR='http://127.0.0.1:8200'

VAULT_TOKEN=$(cat secrets/cluster-keys.json | jq -r ".root_token")


# keycloak values
KEYCLOAK_URL=https://keycloak.your-domain.com/auth
REALM=case-SENSITIVE-realm

# usually public
PUBLIC_CLIENT_ID="public"

# should be empty in case tokens can be fetched without a client id & secret 
PUBLIC_CLIENT_SECRET=""

# user credentials
USER_NAME=
PASSWORD=