# TODO: fill this in and rename to vault.env

# vault values
export VAULT_ADDR='http://127.0.0.1:8200'

VAULT_TOKEN=$(cat secrets/cluster-keys.json | jq -r ".root_token")

# keycloak values, needed for validating tokens
KEYCLOAK_URL=http://dcdb3f410b.ngrok.io/auth
REALM=Bank

# needed for fetching user tokens
PUBLIC_CLIENT_ID=vault-public
PUBLIC_CLIENT_SECRET=""

# needed for oidc workflow and for permissions of jwt
CLIENT_ID=vault
CLIENT_SECRET=8433a...

# user that has write access
MANAGER_USER_NAME=vault_manager
MANAGER_PASSWORD=...

# user that only has a read access role
READER_USER_NAME=vault_reader
READER_PASSWORD=...
