- name: Deploy Vault in Kubernetes
  hosts: localhost

  gather_facts: true

  environment:
    KUBECONFIG: "{{ lookup('vars', 'kubeconfig').replace('~', ansible_env.HOME) }}"

  tasks:
    - name: stage 00a - parse configuration & environment (host config)
      include_tasks: stages/00a-environment.yaml

    - name: stage 01 - deploy vault
      include_tasks: stages/01-deploy-vault.yaml
      when: deployVaultEnabled

    - name: stage 00b - parse configuration & environment (cluster status)
      include_tasks: stages/00b-environment.yaml

    - name: stage 02 - init vault
      include_tasks: stages/02-init-vault.yaml
      when: initVaultEnabled and (not cluster.initialized)

    - name: stage 00c - parse configuration & environment (unseal keys & tokens)
      include_tasks: stages/02-init-vault.yaml

    - name: stage 03 - unseal vault
      include_tasks: stages/03-unseal-vault.yaml
      when: unsealVaultEnabled and cluster.sealed

    - name: stage 04 - apply policies
      include_tasks: stages/04-apply-policies.yaml

    - name: stage 05 - configure JWT auth
      include_tasks: stages/05-configure-jwt.yaml
      when: configureJWTEnabled

    - name: stage 06 - configure OIDC auth
      include_tasks: stages/06-configure-oidc.yaml
      when: configureOIDCEnabled

    - name: stage 07 - create internal groups
      include_tasks: stages/07-create-internal-groups.yaml
      when: configureJWTEnabled or configureOIDCEnabled

    - name: stage 08 - configure secrets
      include_tasks: stages/08-configure-secrets.yaml
      when: configureSecretsEnabled


    #at this point we expect vault to be running as well as consul to be running,
    #as consul needs more time to startup






